* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    color: seashell;
    opacity: 0.9;
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid seashell;
    background-color: black;
}

.logo {
    display: flex;
    height: 50px;
    padding-left: 10px;

}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.mission,
.featured {
    text-decoration: underline;
    padding-right: 25px;
}

.locations {
    text-decoration: underline;
    padding-right: 10px;
}

a {
    color: seashell;
}

.container1 {
    display: flex;
    justify-content: center;
}

.our-mission {
    display: flex;
    width: 1200px;
    height: 700px;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1q2gmhr*_ga*MTEwODQ0ODE2Mi4xNjUyMzQ3MTA1*_ga_3LRZM6TM9L*MTY3NTA1NzQ3My4yMTQuMS4xNjc1MDU3OTk0LjAuMC4w);
}

.mission-container {
    width: 100%;
}

h2 {
    display: flex;
    background-color: black;
    justify-content: center;
    line-height: 60px;
}

h4 {
    display: flex;
    background-color: black;
    justify-content: center;
    line-height: 60px;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    justify-content: center;
    flex-direction;
}

.featured-tea {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 10px;
}

.image-container {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: space-evenly;
    width: 1000px;
    height: 600px;
}

.imgcontainer1 {
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
}

.imgcontainer1 img {
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
}

.imgcontainer2 {
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
    
}

.imgcontainer2 img {
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
}

.imgcontainer3 {
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
    
}

.imgcontainer3 img {
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
}

.imgcontainer4 {
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
    top: 300px;

}

.imgcontainer4 img {
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
}

.imgcontainer5 {
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
    top: 300px;

   
}

.imgcontainer5 img {
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
}
